//====================================================================================================
.footer {
   position: relative;
   background-color: #ffffff;
   margin: rem(40) 0 0 0;
   overflow-y: auto;
   @media (max-width: em(1290)) {
      margin: rem(70) 0 0 0;
   }
   &__container {
   }

   &__body {
      position: relative;
      min-height: rem(136);
      margin: rem(50) 0;
      border-top: solid 1px;
      border-color: #d8d8d8;
   }

   &__row {
      display: flex;
      @media (max-width: em(1290)) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
   }

   &__items {
      &:not(:last-child) {
         margin-right: rem(80);
         @media (max-width: em(1290)) {
            margin-right: 0;
         }
      }
      @media (max-width: em(1290)) {
         width: 100%;
      }
   }
}
.item-footer {
   &__row {
      display: flex;
      @media (max-width: em(1290)) {
         align-items: flex-start;
         justify-content: center;
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
   }

   &__body {
      &:not(:last-child) {
         margin-right: rem(80);
         @media (max-width: em(1290)) {
            margin-right: 0;
         }
      }
      @media (max-width: em(1290)) {
         width: 50%;
         text-align: center;
      }
      @media (max-width: $mobile) {
         width: 100%;
      }
   }
}
.menu-footer {
   //@include adaptiveValueREM("min-width", 438, 250);
   max-width: rem(250);
   @media (max-width: em(1290)) {
      max-width: 100%;
   }
   @media (max-width: $mobile) {
      .body-item-footer__tittle {
         color: $orangeColor;
         // text-align: left;
      }
      .body-item-footer__content {
         //  text-align: left;
      }
   }
}
.accont-footer {
   //@include adaptiveValueREM("min-width", 376, 250);
   // min-width: rem(376);
}
.update-footer {
   min-width: rem(296);
   @media (max-width: em(1290)) {
      .body-item-footer {
         width: 100%;
         .body-item-footer__input {
            width: 100%;
         }
      }
   }
   @media (max-width: $mobile) {
      .body-item-footer__tittle {
         color: $orangeColor;
         //text-align: right;
         margin: 20px 0 0 0;
      }
   }
}
.body-item-footer {
   &__tittle {
      font-weight: bold;
      font-size: rem(24);
      line-height: percent(29, 16);
      color: #000000;
      @media (max-width: $mobile) {
         cursor: pointer;
         &.active {
            color: $orangeColor;
         }
         @media (any-hover: hover) {
            transition: all 0.3s ease 0s;
            &:hover {
               color: $orangeColor;
               &::before {
                  transform: rotate(180deg);
               }
            }
         }
      }
   }

   .toggle-block {
      @media (min-width: $mobile) {
         &::before {
            display: none;
         }
      }
      @extend ._icon-arrow-down;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      width: 100%;
      &::before {
         transition: all 0.3s ease 0s;
         @extend %ic;
         font-size: rem(15);
         display: flex;
         align-items: center;
         margin: 0 0 0 rem(20);
      }
      &.active {
         &::before {
            transform: rotate(180deg);
         }
      }
   }

   &__content {
      margin: rem(16) 0 0 0;
      font-weight: 500;
      line-height: 1.5;
      color: #616161;
   }

   &__text {
      margin: 0 0 rem(16) 0;
   }

   &__address {
      margin: 0 0 rem(16) rem(10);
      position: relative;
      cursor: pointer;
      &::before {
         display: inline-block;
         font-size: rem(18);
         position: relative;
         top: 2px;
         left: -10px;
      }
      @media (any-hover: hover) {
         transition: color 0.3s ease 0s;
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__phone {
      margin: 0 0 rem(16) 0;
      cursor: pointer;
      a {
         margin: 0 0 0 rem(10);
      }
      a::before {
         display: inline-block;
         font-size: rem(18);
         position: relative;
         top: 2px;
         left: -10px;
      }
      @media (any-hover: hover) {
         transition: color 0.3s ease 0s;
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__link-site {
      margin: 0 0 rem(16) 0;
      @media (any-hover: hover) {
         transition: color 0.3s ease 0s;
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__list {
   }

   &__list-item {
      &:not(:last-child) {
         margin: 0 0 rem(16) 0;
      }
      min-width: rem(105);
      word-wrap: none;
   }

   &__link {
      @media (any-hover: hover) {
         transition: color 0.3s ease 0s;
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__form {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
   }

   &__input {
      width: rem(242);
      height: rem(45);
      padding: rem(10) rem(12);
      color: #828282;
      line-height: 1.5;
      border: 2px solid;
      &:focus {
         outline: none !important;
         border-color: $orangeColor;
      }
   }

   &__btn {
      margin: 0 0 0 rem(5);
      width: rem(45);
      height: rem(45);
      background-color: #e89f71;
      color: #ffffff;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: $orangeColor;
            background-color: #f9f1e7;
         }
      }
   }
}

//====================================================================================================
