//====================================================================================================
.header {
	position: absolute;
	min-height: 40px;
	@media (max-width: $mobileSmall) {
		min-height: 5px;
	}
	&._scroll {
		.header__wraper {
			background-color: rgb(255, 255, 255, 0.9);
			@media (any-hover: hover) {
				&:hover {
					background-color: rgb(255, 255, 255, 1);
				}
			}
		}
		.header__body {
			min-height: 70px;
			@media (max-width: $mobile) {
				min-height: 50px;
			}
		}
		.search-form__form {
			&.active {
				transform: translate(0, 180%);
				@media (max-width: $mobile) {
					transform: translate(0, 140%);
				}
			}
		}
	}
}

.header {
	&__wraper {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
	}

	&__container {
	}

	&__body {
		display: flex;
		min-height: 125px;
		align-items: center;
	}

	&__main {
		flex: 0 1 percent(494, 1270);
		display: flex;
		align-items: center;
	}

	&__logo {
		flex: 0 1 percent(115, 494);
		font-weight: bold;
		font-size: rem(24);
		line-height: math.div(29, 24);
		z-index: 5;
	}

	&__menu {
		//margin: 0 rem(42);
		@include adaptiveValueREM("margin-left", 42, 10);
		@include adaptiveValueREM("margin-right", 42, 10);
		flex: 1 1 auto;
	}

	&__search {
		//width: 400px;
		//position: relative;
		flex: 1 1 auto;
		z-index: 5;
		@media (max-width: em(1130)) {
			flex: 1 0 auto;
		}
	}

	&__actions {
	}
}
.menu {
	&__body {
		transition: all 0.3s ease 0s;
		@media (max-width: $mobile) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			transition: left 0.3s ease 0s;
			background-color: #fcf8f3;
			display: flex;
			transition: transform 0.3s ease 0s;
			transform: translate(-100%, 0);
			&.active {
				transform: translate(0, 0);
			}
		}
	}

	&__list {
		display: flex;
		@media (max-width: $mobile) {
			position: relative;
			display: block;
			width: 100%;
			margin: rem(175) 0 0 0;
		}
	}

	&__item {
		flex: 0 1 auto;
		display: flex;
		flex-wrap: nowrap;
		transition: color 0.3s ease 0s;
		position: relative;
		&:not(:last-child) {
			@include adaptiveValueREM("margin-right", 40, 0);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
				.menu__sub-list {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0px);
					@media (max-width: $mobile) {
						height: 200px;
					}
				}
				.menu__item-button {
					transform: rotate(180deg);
					color: $orangeColor;
				}
			}
		}
		@media (any-pointer: coarse) {
			&.active {
				.menu__sub-list {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0px);
				}
			}
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin: 0 0 rem(30) 0;
				border-bottom: dashed;
				border-bottom-color: $orangeColor;
				flex-wrap: wrap;
			}
			&.active {
				.menu__sub-list {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translate(0, 0px);
					height: 200px;
				}
			}
			font-size: rem(30);
		}
	}

	&__link {
		font-weight: 500;
		line-height: 1.5;
		&:not(:last-child) {
			margin: 0 rem(8) 0 0;
		}
		@media (max-width: $mobile) {
			display: block;
			&:not(:last-child) {
				margin: 0 rem(35) 0 0;
			}
			//flex: 1 0 auto;
		}
	}

	&__item-button {
		transition: all 0.3s ease 0s;

		&:before {
			font-size: rem(12);
			@media (max-width: $tablet) {
				font-size: rem(16);
			}
			@media (max-width: $mobile) {
				font-size: rem(30);
			}
		}
		@media (max-width: $mobile) {
			margin-left: auto;
		}
		@media (any-pointer: coarse) {
			&.active {
				color: $orangeColor;
				transform: rotate(180deg);
			}
		}
	}

	&__sub-list {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		top: 100%;
		left: 0;
		width: 100px;
		background-color: $orangeColor;
		color: #fff;
		text-align: center;
		transition: all 0.3s ease 0s;
		transform: translate(0, 15px);
		@media (max-width: $mobile) {
			position: relative;
			width: 100%;
			height: 0px;
			text-align: left;
			top: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
	&__sub-item {
		margin: 0 0 10px 0;
		&:first-child {
			margin-top: 10px;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__sub-link {
		@media (max-width: $mobile) {
			margin: 0 0 0 rem(16);
		}
	}

	&__icon {
	}
}

.search-form {
	&__button {
		display: none;

		@media (max-width: em(1130)) {
			display: block;
			margin: 0 rem(25) 0 auto;
			font-size: rem(24);
		}
		@media (max-width: $mobile) {
			margin: 0 rem(15) 0 auto;
		}
	}
	&__button-submit {
		display: inline-block;
		position: relative;
		left: 35px;
		font-size: rem(18);
	}

	&__form {
		padding: 0 15px 0 0;
		transition: all 0.3s ease 0s;
		@media (max-width: em(1130)) {
			transform: translate(0, -250%);
			position: absolute;
			display: flex;
			flex-direction: row;
			top: 0;
			left: 0;
			width: 100%;
			.search-form__input {
				width: 100%;
			}
		}
		&.active {
			transform: translate(0, 180%);
			display: flex;
			flex-direction: row;
			top: 0;
			left: 0;
			width: 100%;
			.search-form__input {
				width: 100%;
			}
		}
	}

	&__input {
		width: 473px;
		height: 45px;
		padding: 0 5px 0 44px;
		font-size: rem(14);
		line-height: 1.5;
	}
}
.actions {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	@include adaptiveValueREM("column-gap", 32, 15);
	column-gap: rem(32);
	align-items: center;
	//@include adaptiveValueREM("font-size", 24, 16);
	font-size: rem(24);
	color: #262f56;
	@media (max-width: em(1130)) {
		margin-left: auto;
	}
	&__favorite {
		z-index: 5;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}

	&__cart {
		z-index: 5;
	/*	@media (any-hover: hover) {
			&:hover {
				.cart-header__icon{
					&:before {
						color: $orangeColor;
					}
				}
				.cart-list{
					opacity: 1;
					visibility: visible;
					transform: translate(-50%, 15px);
				}
			}
		}
		@media (any-pointer: coarse) {
		&:focus{
			.cart-list{
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, 15px);
			}
		}
		}*/
	}

	&__avatar {
		z-index: 5;
		display: block;
		position: relative;
		img {
			position: relative;
			//	@include adaptiveValueREM("max-width", 40, 30);
			//	@include adaptiveValueREM("max-height", 40, 30);
			max-width: rem(40);
			max-height: rem(40);
			border-radius: 50%;
		}
	}
}

.cart-header {
	&__icon{
		position: relative;
		display: inline-block;
		position: relative;
		span{
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -5px;
			right: -5px;
			background-color: $orangeColor;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			font-size: rem(11);
			color: #fff;
		}
	}
	&__header-list {
	}

	&__header-item {
	}
}
.cart-list{
	position: absolute;
	width: 280px;
	background-color: rgb(247, 212, 191);
	padding: 20px 0;
	max-height: 70vh;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, 60px);
	transition: all 0.5s ease 0s;
	&.active{
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, 15px);
	}
	@media (max-width: em(1400)) {
		transform: translate(0, 60px);
		right: 0;
		&.active{
		transform: translate(0, 15px);
		}
	}
	@media (max-width: $mobile) {
		&.active{
			transform: translate(0, 15px);
			}
	}
	@media (max-width: $mobileSmall) {
		width: 100%;
		max-height: none;
		height: 100vh;
		padding-bottom: 80px;
		&.active{
		transform: translate(0, 10px);
		}
	}
	&__item{
		display: flex;
		align-items: center;
		margin-left: 10px;
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	&__img{
		position: relative;
	//	padding-bottom: 50%;
	width: 100px;
	height: 70px;
		img {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
		}
	}
	&__body{
		position: relative;
		text-align: end;
		width: 100%;
		margin-right: 10px;
	}
	&__name{
		font-size: 20px;
		display: block;
		margin-bottom: 10px;
	}
	&__quantity{
		font-size: 14px;
		span{
			margin: 0 5px;
		}
	}
	&__price-item{
		text-align: center;
		font-size: 14px;
		color: #262f56;
	}
	&__price{
		display: inline-block;
		font-size: 14px;
		color: #262f56;
		margin-right: 10px;
	}
	&__delete{
		color: red;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1.5px;
	}
	&__btn-plus, &__btn-minus{
		background-color: $orangeColor;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		text-align: center;
	}
	&__total-price{
		font-size: 18px;
		font-weight: 500;
		color: #262f56;
		margin-right: 10px;
		text-align: right;
	}
	&__make-order{
		width: 100%;
		text-align: center;
		margin-top: 25px;
	}
	&__make-order-btn{
		font-size: rem(20);
		letter-spacing: 1.5px;
		font-weight: 500;
		text-align: center;
		width: 70%;
		height: 40px;
		background-color: $orangeColor;
		border-radius: 5px;
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		margin: 0 0 0 rem(15);
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		&.open {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
