@import "base/forms/input";

.main-slider {
   height: 100%;
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
   background-color: #fcf8f3;
   overflow: hidden;

   &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -384px;
      background-color: #f9f1e7;
   }

   &__container {
      position: relative;
   }

   &__body {
      display: flex;
      position: relative;
      padding: 140px 0 0 0;
      overflow: visible;
      align-self: flex-end;
      overflow: visible;
   }

   &__content {
      flex: 0 0 percent(494, 1270);
      z-index: 2;
   }

   &__slider {
      min-width: 0;
      display: flex;
      flex-direction: column;
      overflow: visible;
   }
}
.content-main-slider {
   &__body {
      padding: rem(60);
      background: rgba(255, 255, 255, 0.9);
      @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
         background: rgba(255, 255, 255, 0.72);
         backdrop-filter: blur(31px);
      }
      @media (max-width: $tablet) {
         background: rgba(255, 255, 255, 0.72);
         backdrop-filter: unset;
      }
   }

   &__tittle {
      @include adaptiveValueREM("font-size", 56, 16);
      margin-bottom: em(15, 56);
   }

   &__text {
      font-weight: 500;
      @include adaptiveValueREM("font-size", 20, 16);
      line-height: 1.5;
      color: #898989;
      margin: 0 0 em(50, 20) 0;
   }

   &__btn {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 600;

      span {
         min-width: em(94, 20);
      }
      @include adaptiveValueREM("font-size", 20, 16);
      line-height: 1.5;
      color: #ffffff;
      padding: em(24, 20) em(140, 20);
      background-color: $orangeColor;
   }
}
.slider-main {
   &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 32px 32px;
   }

   &__body {
      @include adaptiveValueREM("width", 934, 320);
      overflow: visible;
      align-self: flex-end;
   }

   &__slider {
   }
   &__wrapper {
   }

   &__slide {
      // width: 100%;
   }
}
.swiper-slide {
   background-color: red;
}
.controls {
   &__dots {
   }
   .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      &:not(:last-child) {
         margin: 0 12px 0 0 !important;
      }
   }
   .swiper-pagination-bullet.swiper-pagination-bullet-active {
      transition: all 0.3s ease 0.1s;
      position: relative;
      width: 27px;
      height: 27px;
      border: 1px solid #e89f71;
      border-radius: 50%;
      //border-color: $orangeColor;
      background-color: transparent;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      &:last-child {
         margin: 0 !important;
      }
   }
   .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
      content: "";
      width: 11px;
      height: 11px;
      background-color: $orangeColor;
      border-radius: 50%;
   }

   &__buttons {
      display: flex;
   }

   &__left-btn {
      transform: rotate(90deg);
   }

   &__right-btn {
      transform: rotate(-90deg);
   }
   &__right-btn,
   &__left-btn {
      width: 48px;
      height: 48px;
      background-color: #e89f71;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: rgba(232, 159, 113, 0.3);
         color: $orangeColor;
      }
      &::before {
         font-size: 10px;
      }
      &:not(:last-child) {
         margin: 0 8px 0 0;
      }
   }
}

.swiper {
   overflow: visible !important;
}
.swiper-wrapper {
}
.slide-main-slider {
   &__img {
      position: relative;
      width: 100%;
      padding: 50% 0 0 0;
      img {
         position: absolute;
         top: 0;
         left: 0;
         object-fit: cover;
         width: 100%;
      }
   }

   &__content {
      position: absolute;
      top: 0;
      left: 0;
   }
}
.swiper-slide {
}
.content-slide {
   &__body {
   }

   &__tittle {
   }

   &__text {
   }

   &__price {
   }
}
.price-slide {
   &__price {
   }

   &__link {
   }
}
