@import "base/forms/input";

//=======================================================================================
/*MAIN_SLIDER*/
.main-slider {
   height: 100%;
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
   background-color: #fcf8f3;
   overflow: hidden;

   &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -384px;
      background-color: #f9f1e7;
   }

   &__container {
      position: relative;
   }

   &__body {
      display: flex;
      position: relative;
      padding: 140px 0 0 0;
      overflow: visible;
      align-self: flex-end;
      overflow: visible;
      @media (max-width: em(1200)) {
         flex-direction: column;
      }
   }

   &__content {
      flex: 0 0 percent(494, 1270);
      z-index: 2;
   }

   &__slider {
      min-width: 0;
      display: flex;
      flex-direction: column;
      overflow: visible;
   }
}
.content-main-slider {
   &__body {
      padding: rem(60);
      background: rgba(255, 255, 255, 0.9);
      @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
         background: rgba(255, 255, 255, 0.72);
         backdrop-filter: blur(31px);
      }
      @media (max-width: em(1200)) {
         padding: rem(20);
         backdrop-filter: unset;
         background: rgba(255, 255, 255, 1);
         margin: 0 0 32px 0;
      }
   }

   &__tittle {
      @include adaptiveValueREM("font-size", 56, 20);
      margin-bottom: em(15, 56);
      color: $mainColor;
      font-weight: 700;
      @media (max-width: em(1200)) {
         text-align: center;
      }
   }

   &__text {
      font-weight: 500;
      @include adaptiveValueREM("font-size", 20, 16);
      line-height: 1.5;
      color: #898989;
      margin: 0 0 em(50, 20) 0;
      @media (max-width: em(1200)) {
         margin: 0;
      }
      @media (max-width: em(1200)) {
         text-align: center;
      }
   }

   &__btn {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 600;

      span {
         min-width: em(94, 20);
      }
      @include adaptiveValueREM("font-size", 20, 16);
      line-height: 1.5;
      color: #ffffff;
      padding: em(24, 20) em(140, 20);
      background-color: $orangeColor;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: rgba(232, 159, 113, 0.3);
         color: $orangeColor;
      }
      @media (max-width: em(1200)) {
         display: none;
      }
   }
   &__btn--mobile {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      order: 3;
      span {
         min-width: em(94, 20);
      }
      @include adaptiveValueREM("font-size", 20, 16);
      line-height: 1.5;
      color: #ffffff;
      padding: em(24, 20) em(140, 20);
      background-color: $orangeColor;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: rgba(232, 159, 113, 0.3);
         color: $orangeColor;
      }
      @media (min-width: 1200px) {
         display: none;
      }
   }
}

.slider-main {
   &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 32px 32px;
      min-height: 27px;
      @media (max-width: em(1200)) {
         order: 2;
         margin: 32px 0;
         justify-self: center;
         text-align: center;
      }
   }

   &__body {
      width: 934px;
      // @include adaptiveValueREM("width", 934, 320);
      overflow: visible;
      align-self: flex-end;
      @media (max-width: em(1200)) {
         align-self: center;
         width: 104%;
         overflow: hidden;
         order: 1;
      }
      @media (max-width: $mobileSmall) {
         width: 108%;
      }
   }

   &__slider {
   }
   &__wrapper {
   }

   &__slide {
      // width: 100%;
   }
}
.swiper-slide {
}
.controls {
   &__dots {
   }
   .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      &:not(:last-child) {
         margin: 0 12px 0 0 !important;
      }
   }
   .swiper-pagination-bullet.swiper-pagination-bullet-active {
      transition: all 0.3s ease 0.1s;
      position: relative;
      width: 27px;
      height: 27px;
      border: 1px solid #e89f71;
      border-radius: 50%;
      //border-color: $orangeColor;
      background-color: transparent;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      &:last-child {
         margin: 0 !important;
      }
   }
   .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
      content: "";
      width: 11px;
      height: 11px;
      background-color: $orangeColor;
      border-radius: 50%;
   }

   &__buttons {
      display: flex;
      @media (max-width: em(1200)) {
         display: none;
      }
   }

   &__left-btn {
      transform: rotate(90deg);
   }

   &__right-btn {
      transform: rotate(-90deg);
   }
   &__right-btn,
   &__left-btn {
      width: 48px;
      height: 48px;
      background-color: #e89f71;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: rgba(232, 159, 113, 0.3);
         color: $orangeColor;
      }
      &::before {
         font-size: 10px;
      }
      &:not(:last-child) {
         margin: 0 8px 0 0;
      }
   }
}

.swiper {
   overflow: visible !important;
}
.swiper-wrapper {
}
.slide-main-slider {
   &__img {
      position: relative;
      width: 100%;
      padding: 66.703% 0 0 0;
      img {
         position: absolute;
         top: 0;
         left: 0;
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   &__content {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: rem(24);
      margin: 0 rem(40) rem(40) 0;
      background: rgba(255, 255, 255, 0.9);
      @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
         background: rgba(255, 255, 255, 0.72);
         backdrop-filter: blur(31px);
      }
      @media (max-width: $mobile) {
         position: relative;
         margin: 0;
      }
   }
}
.swiper-slide {
}
.content-slide {
   &__tittle {
      font-size: rem(28);
      line-height: 1.2;
      font-weight: 600;
      margin: 0 0 rem(4) 0;
      color: $mainColor;
   }

   &__text {
      margin: 0 0 rem(8) 0;
      color: $darckGrayColor;
      line-height: 1.5;
   }

   &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.price-slide {
   &__price {
      font-size: rem(20);
      color: $mainColor;
      font-weight: 600;
      margin: 0 rem(97.41) 0 0;
      min-width: 129px;
   }

   &__link {
      color: $mainColor;
      font-size: rem(14);
      line-height: 1.5;
      font-weight: 600;
      transition: color 0.3s ease 0s;
      &:hover {
         color: $orangeColor;
      }
      @media (max-width: $mobile) {
         color: $orangeColor;
         font-size: rem(25);
      }
   }
}
/*MAIN_SLIDER*/
//=======================================================================================

/*ADVANTAGES*/
//=======================================================================================
.advantages {
   @include adaptiveValueREM("margin-top", 88, 30);
   @include adaptiveValueREM("margin-bottom", 88, 30);
   &__container {
      display: flex;
      justify-content: space-between;
      padding-top: rem(16);
      padding-bottom: rem(16);
      @media (max-width: $tablet) {
         justify-content: center;
      }
      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }

   &__row-items {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &:not(:last-child) {
         @include adaptiveValueREM("margin-right", 92, 20, 1270, 992, 1);
      }
      @media (max-width: $tablet) {
         margin-right: 0 !important;
         flex-direction: column;
         align-self: center;
      }
   }
}
.items-advantages {
   &__item {
      display: grid;
      grid-template: auto auto / 85px 1fr;
      @media (max-width: $tablet) {
         align-self: center;
         min-width: 280px;
         margin-bottom: 35px;
      }
   }

   &__item-img {
      grid-row: span 2;
      align-self: center;
      text-align: center;
      @media (max-width: $tablet) {
         justify-self: flex-start;
      }
   }

   &__item-title {
      color: $mainColor;
      margin: 0 0 2px 0;
      font-size: rem(18);
      font-weight: 600;
      line-height: 1.5;
      align-self: center;
   }

   &__item-text {
      color: $grayColor;
      font-size: rem(16);
      font-weight: 500;
      line-height: 1.5;
      align-self: center;
   }
}
/*ADVANTAGES*/
//=======================================================================================

/*PRODUCTS*/
//=======================================================================================
.products {
   margin-bottom: rem(44);
   &__container {
      @media (max-width: $mobile) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__tittle {
   }

   &__items {
      display: grid;
      @include adaptiveValueREM("gap", 32, 20);
      @include adaptiveValueREM("margin-bottom", 32, 20);
      grid-template: auto / repeat(4, minmax(285px, 1fr));
      text-align: center;
      @media (max-width: em(1270)) {
         grid-template: auto auto / repeat(2, minmax(285px, 1fr));
      }
      @media (max-width: $mobile) {
         grid-template: repeat(4, auto) / minmax(285px, 400px);
      }
   }

   &__item {
      position: relative;
      &:hover {
         .item-product__hover {
            opacity: 1;
            visibility: visible;
         }
      }
      @media (max-width: em(1270)) {
         &:not(:nth-last-child(-n + 2)) {
            margin: 0 0 20px 0;
         }
      }
      @media (max-width: $mobile) {
         &:not(:last-child) {
            margin: 0 0 25px 0;
         }
      }
   }

   &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__footer--link {
      padding: rem(12) rem(82);
      color: $orangeColor;
      font-weight: 600;
      line-height: 1.5;
      border: 1px solid #e89f71;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $orangeColor;
            color: #fff;
         }
      }
   }
   @media (max-width: $tablet) {
      font-size: 22px;
   }
}
.item-product {
   &__img {
      width: 100%;
      img {
         width: 100%;
      }
   }

   &__description {
      @include adaptiveValueREM("margin-bottom", 30, 15);
      margin-left: rem(16);
      margin-top: rem(16);
      text-align: left;
   }

   &__label {
   }

   &__hover {
      @media (any-hover: hover) {
         opacity: 0;
         visibility: hidden;
         position: absolute;
         transition: all 0.7s ease 0s;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgb(58, 58, 58, 0.72);
         display: grid;
         grid-template-rows: 1fr auto;
         justify-content: center;
      }
   }
}
.description-product {
   &__tittle {
      color: $mainColor;
      font-weight: 600;
      font-size: 24px;
      @media (max-width: $tablet) {
         font-size: 22px;
      }
      line-height: 1.2;
      margin: 0 0 rem(8) 0;
   }

   &__text {
      color: $grayColor;
      font-weight: 500;
      line-height: 1.5;
      margin: 0 0 rem(8) 0;
   }

   &__price {
      display: flex;
      flex-wrap: wrap;
      @include adaptiveValueREM("margin-bottom", 30, 15);
   }
}
.price-product {
   &__current {
      color: $mainColor;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.5;
      margin: 0 rem(16) 0 0;
      @media (max-width: $tablet) {
         font-size: 18px;
      }
   }

   &__old {
      color: #b0b0b0;
      font-weight: 500;
      line-height: 1.5;
      text-decoration: line-through;
      @media (max-width: $tablet) {
         font-size: 16px;
      }
   }
}
.label-product {
   position: absolute;
   right: 24px;
   top: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #fff;
   line-height: 1.5;
   font-weight: 500;
   &__sale {
      width: rem(48);
      height: rem(48);
      background-color: #e97171;
      border-radius: 50%;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      display: none;
      &.active {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      @media (max-width: $tablet) {
         width: rem(57);
         height: rem(57);
      }
   }

   &__new {
      width: rem(48);
      height: rem(48);
      background-color: #2ec1ac;
      border-radius: 50%;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      display: none;
      &.active {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      @media (max-width: $tablet) {
         width: rem(57);
         height: rem(57);
      }
   }
}
.hover-product {
   &__actions {
      @media (any-hover: hover) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: rem(202);
      }
   }

   &__btn {
      color: $mainColor;
      background-color: $orangeColor;
      margin: rem(20) 0 rem(12) 0;
      font-weight: 600;
      line-height: 1.5;
      padding: rem(12) rem(58);
      font-size: 20px;

      @media (any-hover: hover) {
         font-size: 16px;
         transition: all 0.5s ease 0s;
         color: $orangeColor;
         margin: 0 0 rem(24) 0;
         background-color: #ffffff;
         &:hover {
            color: #fff;
            background-color: $orangeColor;
         }
      }
      cursor: pointer;
   }
   &__social {
      font-weight: 600;
      color: $orangeColor;
      font-size: 18px;
      margin: 15px 0 0 0;
      @media (any-hover: hover) {
         font-size: 16px;
         width: 100%;
         color: #ffffff;
      }
      display: flex;
      justify-content: space-around;
   }
   &__share {
      display: flex;
      &:before {
         margin: 0 rem(9) 0 0;
      }
      @media (any-hover: hover) {
         transition: all 0.5s ease 0s;
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__like {
      display: flex;
      &:before {
         margin: 0 rem(9) 0 0;
      }
      @media (any-hover: hover) {
         transition: all 0.5s ease 0s;
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__look {
      display: none;
      @media (any-hover: hover) {
         transition: all 0.5s ease 0s;
         display: flex;
         justify-content: space-around;
         background-color: #fff;
         width: 100%;
         padding: rem(8) 0;
         color: $orangeColor;
         font-style: italic;
         cursor: pointer;
         p {
            text-decoration: underline;
         }
         &:hover {
            color: #fff;
            background-color: $orangeColor;
         }
      }
   }
}
/*PRODUCTS*/
//=======================================================================================
