/*----POP-UP----*/
.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
   opacity: 0;
   visibility: hidden;
   transition: all 0.8s ease 0s;
}
.popup__body {
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
   transition: all 0.8s ease 0s;
}
.popup__content {
   background-color: #f9f1e7;
   padding: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   transition: all 0.8s ease 0s;
   opacity: 0;
   // transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
   transform: translate(-150%, 0);
}
.popup__close {
   position: absolute;
   right: 10px;
   top: 10px;
   color: #000;
   font-size: 20px;
}
.popup__title {
   text-align: center;
}
.popup__title h4 {
   font-size: 25px;
   font-weight: 500;
   color: #000000;
   text-transform: uppercase;
   @media (max-width: $mobile) {
      font-size: rem(16);
      margin: 30px 0 0 0;
      line-height: 1.5;
   }
}
.popup__text {
   display: flex;
   justify-content: center;
}
.popup__button {
   display: flex;
   justify-content: center;
   padding: 15px 25%;
   margin: 45px 0 0 0;
   background-color: $orangeColor;
   cursor: pointer;
   font-weight: 500;
   font-size: rem(25);
   @media (max-width: $mobile) {
      font-size: rem(16);
      margin: 20px 0 0 0;
   }
}

/*----POP-UP-JS----*/
.popup.open .popup__content {
   //transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
   transform: translate(0%, 0);
   opacity: 1;
}

.popup.open {
   opacity: 1;
   visibility: visible;
}

/*----POP-UP-JS----*/
.popup-phone {
   text-align: center;
   margin: 0;
}

.submit {
   cursor: pointer;
}

.confirm {
   position: absolute;
   opacity: 0;
   visibility: hidden;
   transition: all 0.8s ease 0s;
}
.confirm__button {
   display: flex;
   justify-content: center;
}

.confirm.send {
   opacity: 1;
   visibility: visible;
}

.popup__title.send,
.popup__text.send {
   opacity: 0;
   visibility: hidden;
}

@media (max-width: 500px) {
   .popup__content {
      padding: 10px;
   }
}
/*----POP-UP----*/


/*----CART-POP-UP----*/

.popup__title{
   h5{
      font-size: rem(18);
      font-weight: 500;
      color: #000000;
      margin: 10px 0 20px 0;
   }
}
.ordered-product-tittle{
   display: flex;
   width: 100%;
  // justify-content:flex-start;
   font-weight: 500;
   font-style: italic;
   margin-bottom: 15px;
   &__name, &__price, &__quantity, &__total{
     width: 25%;
     text-align: center;
   }
}
.ordered-table-popup{
   max-height: 50vh;
   overflow: auto;
   width: 100%;
   &__item{
      display: flex;
      align-items: center;
      &:not(:last-child){
         margin-bottom: 15px;
      }
   }
   &__img, &__price, &__quantity, &__total-product-price{
      width:25%;
      text-align: center;
   }
   &__img{
      img{
         width: 70%;
      }
   }
   &__total{
      overflow: hidden;
      text-align: right;
      margin-right: 20px;
      font-size: rem(20);
      font-weight: 600;
      
   }
}
/*----CART-POP-UP----*/

/*----LINK-POP-UP----*/
.popup__text-link{
   @include adaptiveValueREM('font-size', 22,18 );
text-align: center;
p{
   margin-top: 15px;
}
@media (max-width: $mobileSmall) {
   margin-top: 30px;
}
}
/*----LINK-POP-UP----*/